body {
  background-color: #f8f9fa;
  font-family: 'Segoe UI', sans-serif;
}

.green-header {
  display: flex;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 10px 40px;
  border-bottom: 1px solid #ccc;
}

.back-arrow {
  font-size: 1.5rem;
  margin-right: 1rem;
  cursor: pointer;
}

.table-wrapper {
  max-height: 420px;
  overflow-y: auto;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

.record-row:nth-child(odd) {
  background-color: #f2f2f2;
}

.record-row:nth-child(even) {
  background-color: #dff5df;
}

.table-head {
  background-color: #b0e6b1;
}

.modal-header.bg-success {
  background-color: #28a745 !important;
}


.custom-navbar {
  background-color: #a1df8b !important;
  border-bottom: 2px solid #4b6f3b;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}


.logo {
  height: 45px;
  width: auto;
}

.profile-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}

#links a {
  color: #0b0b0b !important;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.1rem;
  padding: 8px 12px;
}

#links a:hover {
  color: #3a6d12 !important;
} 